/* navbar */

.bg-light{
    background-color: #3b5998!important;
}

.navbar-light .navbar-brand{
    color:#fff;
}

.navbar-light .navbar-nav .active >.nav-link, 
.navbar-light .navbar-nav .nav-link.active, 
.navbar-light .navbar-nav .nav-link.show, 
.navbar-light .navbar-nav .show>.nav-link{
    color:#fff;
}

.navbar-light .navbar-nav .nav-link{
    color:#e1e1e1;
}

.navbar-light .navbar-nav .nav-link:hover{
    color:#fff;
}

.ml-auto{
    margin-right:2rem;
}

/* end navbar */ 

/* jumbotron */
    .jumbotron{
        background-color: #23b2ca;
        color: #fff;    
    }
/* end jumbotron */

/* column */
    .card{
        width: 18rem; 
        margin:auto;
    }
/* end column */

/* footer */
    /* footer{
        background-color: #3b5998;
        position: absolute;
        bottom: 0;
        width:100%;
        padding-top: 1rem;
    }
    footer p{
        color:#fff;
    } */
/* end footer */